
@{
    ViewBag.Title = "Index";
}

<h2>eStar Reports</h2>

<ul>
    <li><a href="../Reports/All_Students">All Students</a></li>
    <li><a href="../Reports/Tutor_Groups">Tutor Group</a></li>
    <li><a href="../Reports/userPointDetails">View Awards Of A Selected Student</a></li>
    
</ul>