
@{
    ViewBag.Title = "Admin";
}

<h2>Welcome to eStar</h2>

<div class="row">
    <div class="col-md-6" id="users">
        <div class="row">
            <h3>Manage Users</h3>
        </div>
        <div class="row">
            <div class="col-md-4" id="homeIcons">
                <img src="../Content/Images/Students2.png" />
            </div>
            <div class="col-md-4" id="homeIcons">
                <img src="../Content/Images/UsersStaff.png" />
            </div>
            <div class="col-md-4" id="homeIcons">
                <img src="../Content/Images/UsersGuardians.png" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            Hello
        </div>
    </div>
</div>