
@{
    ViewBag.Title = "Admin";
}

<h2>Welcome to eStar</h2>

<div class="row" id="homeIcons">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4" id="guardianIcons">
                <a href="../Guardians">
                    <img src="../Content/Images/UsersGuardians2.png" />
                </a>
            </div>
            <div class="col-md-4" id="studentsIcon">
                <a href="../Students">
                    <img src="../Content/Images/Students.png" />
                </a>
            </div>
            <div class="col-md-4" id="staffIcons">
                <a href="../Staff">
                    <img src="../Content/Images/Staff2.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Manage Guardians</h3>
            </div>
            <div class="col-md-4">
                <h3>Manage Students</h3>
            </div>
            <div class="col-md-4">
                <h3>Manage Staff</h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4" id="awardIcon">
                <a href="../Awards">
                    <img src="../Content/Images/Awards.png" />
                </a>
            </div>
            <div class="col-md-4" id="classesIcon">
                <a href="../Classes">
                    <img src="../Content/Images/Classes.png" />
                </a>
            </div>
            <div class="col-md-4" id="prevAwards">
                <a href="../Awards/ViewAwards">
                    <img src="../Content/Images/Awarded.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Allocate An Award</h3>
            </div>
            <div class="col-md-4">
                <h3>Manage Classes</h3>
            </div>
            <div class="col-md-4">
                <h3>View Previous Awards</h3>
            </div>
        </div>
    </div>
</div>
<div class="row" id="homeIcons">
    <div class="col-md-2" id="store">
        <a href="../Products">
            <img src="../Content/Images/Store.png" />
        </a>
    </div>
    <div class="col-md-2" id="reports">
        <a href="../Reports/Index">Reports</a>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h3>Manage Store Products</h3>
    </div>
</div>