@model eStar.Models.Staff
@{
    ViewBag.Title = "StaffIndex";
}

<h2>Welcome to eStar</h2>

<div class="row" id="homeIcons">
    <div class="col-md-2" id="awardIcon">
        <a href="../Awards/ClassAwards">
            <img src="../Content/Images/Awards.png" />
        </a>
    </div>
    <div class="col-md-2"
</div>
<div class="row">
    <div class="col-md-2">
        <h3>Allocate Awards</h3>
    </div>
</div>
<div class="row">
    <h3></h3>
    @Html.DisplayFor(model => model.Awards[0])
</div>

