
@{
    ViewBag.Title = "StaffIndex";
}

<h2>Welcome to eStar</h2>

<div class="row" id="homeIcons">
    <div class="col-md-4" id="studentsIcon">
        <img src="../Content/Images/Students.png"/>
    </div>
    <div class="col-md-4" id="classesIcon">
        <img src="~/Content/Images/Classes.png" />
    </div>
    <div class="col-md-4">
        Hello
    </div>
</div>

