@using eStar.Security;
@{
    ViewBag.Title = "StudentIndex";
}

<h2>Welcome to eStar</h2>
<div class="row" id="homeIcons">
    <div class="col-md-2" id="awardIcon">
        <a href='@string.Format("../Awards/ViewAwards/{0}", SessionPersister.UserID)'>

            <img src="../Content/Images/Awards.png" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        View Your Awards
    </div>
</div>